#links{
    background: url(../assets/Background_Contacts.png) no-repeat center/cover; 
    width: 1366px;
    margin: auto;
    padding: 128px 120px 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    header{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;

        gap: 16px;
    }

    a{
        display: grid;
        width: 400px;
        grid-template-columns: 1fr 3fr 0.1fr;
        gap: 12px;
        align-items: center;
        position: relative;
        
        text-decoration: none;
        background-color: var(--gray-300);
        border-radius: 8px;
        padding: 20px;

        img:nth-child(2){
            position: absolute;
            left: 20px;
            opacity: 0;
        }
        
    }

    a:hover{
        border: 2px solid var(--blue);
        img:nth-child(1){
            opacity: 0;
        }
        img:nth-child(2){
            opacity: 100;
        }
    }
}

